<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.accp.pub.mapper.ClasstableMapper">
	<resultMap id="BaseResultMap" type="com.accp.pub.pojo.Classtable">
		<id column="classid" property="classid" jdbcType="INTEGER" />
		<result column="classname" property="classname" jdbcType="VARCHAR" />
		<result column="operator" property="operator" jdbcType="VARCHAR" />
		<result column="operatortime" property="operatortime" jdbcType="TIMESTAMP" />
	</resultMap>
	<sql id="Base_Column_List">
		classid, classname, operator, operatortime
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from classtable
		where classid = #{classid,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from classtable
		where classid = #{classid,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="com.accp.pub.pojo.Classtable">
		insert into classtable (classid, classname, operator,
		operatortime)
		values (#{classid,jdbcType=INTEGER}, #{classname,jdbcType=VARCHAR},
		#{operator,jdbcType=VARCHAR},
		#{operatortime,jdbcType=TIMESTAMP})
	</insert>
	<insert id="insertSelective" parameterType="com.accp.pub.pojo.Classtable">
		insert into classtable
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="classid != null">
				classid,
			</if>
			<if test="classname != null">
				classname,
			</if>
			<if test="operator != null">
				operator,
			</if>
			<if test="operatortime != null">
				operatortime,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="classid != null">
				#{classid,jdbcType=INTEGER},
			</if>
			<if test="classname != null">
				#{classname,jdbcType=VARCHAR},
			</if>
			<if test="operator != null">
				#{operator,jdbcType=VARCHAR},
			</if>
			<if test="operatortime != null">
				#{operatortime,jdbcType=TIMESTAMP},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.accp.pub.pojo.Classtable">
		update classtable
		<set>
			<if test="classname != null">
				classname = #{classname,jdbcType=VARCHAR},
			</if>
			<if test="operator != null">
				operator = #{operator,jdbcType=VARCHAR},
			</if>
			<if test="operatortime != null">
				operatortime = #{operatortime,jdbcType=TIMESTAMP},
			</if>
		</set>
		where classid = #{classid,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.accp.pub.pojo.Classtable">
		update classtable
		set classname = #{classname,jdbcType=VARCHAR},
		operator = #{operator,jdbcType=VARCHAR},
		operatortime = #{operatortime,jdbcType=TIMESTAMP}
		where classid = #{classid,jdbcType=INTEGER}
	</update>



	<!-- 自定义sql -->

	<select id="selectByQuery" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from classtable
	</select>


</mapper>