<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.accp.pub.mapper.HealthMapper" >
  <resultMap id="BaseResultMap" type="com.accp.pub.pojo.Health" >
    <id column="healthId" property="healthid" jdbcType="INTEGER" />
    <result column="domain" property="domain" jdbcType="VARCHAR" />
    <result column="dormID" property="dormid" jdbcType="INTEGER" />
    <result column="dorm" property="dorm" jdbcType="VARCHAR" />
    <result column="healthState" property="healthstate" jdbcType="INTEGER" />
    <result column="HealthTime" property="healthtime" jdbcType="TIMESTAMP" />
    <result column="operatorId" property="operatorid" jdbcType="INTEGER" />
    <result column="operator" property="operator" jdbcType="VARCHAR" />
    <result column="operatorTime" property="operatortime" jdbcType="TIMESTAMP" />
    <result column="state" property="state" jdbcType="INTEGER" />
    <result column="beiyong1" property="beiyong1" jdbcType="INTEGER" />
    <result column="beiyong2" property="beiyong2" jdbcType="VARCHAR" />
    <result column="beiyong3" property="beiyong3" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    healthId, domain, dormID, dorm, healthState, HealthTime, operatorId, operator, operatorTime, 
    state, beiyong1, beiyong2, beiyong3
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from health
    where healthId = #{healthid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from health
    where healthId = #{healthid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.accp.pub.pojo.Health" >
    insert into health (healthId, domain, dormID, 
      dorm, healthState, HealthTime, 
      operatorId, operator, operatorTime, 
      state, beiyong1, beiyong2, 
      beiyong3)
    values (#{healthid,jdbcType=INTEGER}, #{domain,jdbcType=VARCHAR}, #{dormid,jdbcType=INTEGER}, 
      #{dorm,jdbcType=VARCHAR}, #{healthstate,jdbcType=INTEGER}, #{healthtime,jdbcType=TIMESTAMP}, 
      #{operatorid,jdbcType=INTEGER}, #{operator,jdbcType=VARCHAR}, #{operatortime,jdbcType=TIMESTAMP}, 
      #{state,jdbcType=INTEGER}, #{beiyong1,jdbcType=INTEGER}, #{beiyong2,jdbcType=VARCHAR}, 
      #{beiyong3,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.accp.pub.pojo.Health" >
    insert into health
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="healthid != null" >
        healthId,
      </if>
      <if test="domain != null" >
        domain,
      </if>
      <if test="dormid != null" >
        dormID,
      </if>
      <if test="dorm != null" >
        dorm,
      </if>
      <if test="healthstate != null" >
        healthState,
      </if>
      <if test="healthtime != null" >
        HealthTime,
      </if>
      <if test="operatorid != null" >
        operatorId,
      </if>
      <if test="operator != null" >
        operator,
      </if>
      <if test="operatortime != null" >
        operatorTime,
      </if>
      <if test="state != null" >
        state,
      </if>
      <if test="beiyong1 != null" >
        beiyong1,
      </if>
      <if test="beiyong2 != null" >
        beiyong2,
      </if>
      <if test="beiyong3 != null" >
        beiyong3,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="healthid != null" >
        #{healthid,jdbcType=INTEGER},
      </if>
      <if test="domain != null" >
        #{domain,jdbcType=VARCHAR},
      </if>
      <if test="dormid != null" >
        #{dormid,jdbcType=INTEGER},
      </if>
      <if test="dorm != null" >
        #{dorm,jdbcType=VARCHAR},
      </if>
      <if test="healthstate != null" >
        #{healthstate,jdbcType=INTEGER},
      </if>
      <if test="healthtime != null" >
        #{healthtime,jdbcType=TIMESTAMP},
      </if>
      <if test="operatorid != null" >
        #{operatorid,jdbcType=INTEGER},
      </if>
      <if test="operator != null" >
        #{operator,jdbcType=VARCHAR},
      </if>
      <if test="operatortime != null" >
        #{operatortime,jdbcType=TIMESTAMP},
      </if>
      <if test="state != null" >
        #{state,jdbcType=INTEGER},
      </if>
      <if test="beiyong1 != null" >
        #{beiyong1,jdbcType=INTEGER},
      </if>
      <if test="beiyong2 != null" >
        #{beiyong2,jdbcType=VARCHAR},
      </if>
      <if test="beiyong3 != null" >
        #{beiyong3,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.accp.pub.pojo.Health" >
    update health
    <set >
      <if test="domain != null" >
        domain = #{domain,jdbcType=VARCHAR},
      </if>
      <if test="dormid != null" >
        dormID = #{dormid,jdbcType=INTEGER},
      </if>
      <if test="dorm != null" >
        dorm = #{dorm,jdbcType=VARCHAR},
      </if>
      <if test="healthstate != null" >
        healthState = #{healthstate,jdbcType=INTEGER},
      </if>
      <if test="healthtime != null" >
        HealthTime = #{healthtime,jdbcType=TIMESTAMP},
      </if>
      <if test="operatorid != null" >
        operatorId = #{operatorid,jdbcType=INTEGER},
      </if>
      <if test="operator != null" >
        operator = #{operator,jdbcType=VARCHAR},
      </if>
      <if test="operatortime != null" >
        operatorTime = #{operatortime,jdbcType=TIMESTAMP},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=INTEGER},
      </if>
      <if test="beiyong1 != null" >
        beiyong1 = #{beiyong1,jdbcType=INTEGER},
      </if>
      <if test="beiyong2 != null" >
        beiyong2 = #{beiyong2,jdbcType=VARCHAR},
      </if>
      <if test="beiyong3 != null" >
        beiyong3 = #{beiyong3,jdbcType=VARCHAR},
      </if>
    </set>
    where healthId = #{healthid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.accp.pub.pojo.Health" >
    update health
    set domain = #{domain,jdbcType=VARCHAR},
      dormID = #{dormid,jdbcType=INTEGER},
      dorm = #{dorm,jdbcType=VARCHAR},
      healthState = #{healthstate,jdbcType=INTEGER},
      HealthTime = #{healthtime,jdbcType=TIMESTAMP},
      operatorId = #{operatorid,jdbcType=INTEGER},
      operator = #{operator,jdbcType=VARCHAR},
      operatorTime = #{operatortime,jdbcType=TIMESTAMP},
      state = #{state,jdbcType=INTEGER},
      beiyong1 = #{beiyong1,jdbcType=INTEGER},
      beiyong2 = #{beiyong2,jdbcType=VARCHAR},
      beiyong3 = #{beiyong3,jdbcType=VARCHAR}
    where healthId = #{healthid,jdbcType=INTEGER}
  </update>
</mapper>